<%= form_for @person do |f| %>
	<div class="form-group">
		<%= f.label :message %>
		<%= f.text_field :message, class: "form-control" %>
	</div>

	<%= f.submit "new message",  class: "btn btn-primary" %>
<% end %>
