<h1>Messages</h1>
<div class="well">
	<%= link_to "New Message", new_person_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
	<div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>message</th>

		</tr>
	</thead>
	<tbody>
		<% if @people.size == 0 %>
			<tr>
				<td colspan="6">No people found.</td>
			</tr>
		<% else %>
			<% @people.each do |person| %>
				<tr>
					<td><%= person.message %></td>


				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
